* {
    padding: 0;
    margin: 2px;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background: rgb(236, 222, 222);
}

.post {
    list-style: none;
    padding: 3px;
    margin: 5px;
    background-color: grey;
    border: 2px solid black;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(17, 80, 99);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#strangers-things {
    color: white;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.links {
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#login-stuff {
    margin-top: 100px;
}

#posts-stuff {
    margin-top: 100px;
}

#register-stuff {
    margin-top: 100px;
}

#createpost-stuff {
    margin-top: 100px;
}

#search-stuff {
    margin-left: 500px;
}